{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "airbnb-base",
    "plugin:react/recommended"
  ],
  "rules": {
    "linebreak-styleslint src --ext .ts,.tsx": 0,
    "indent": ["error", 4],
    "max-len": ["error", { "code": 180, "ignoreTemplateLiterals": true }],
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0
  },
  "globals": {
    "document": true,
    "test": true,
    "expect": true,
    "confirm": true
  }
}
